.club-membar{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin: 15px 5px;
    border-radius: 15px;
    border: 2px solid aliceblue;
}

.club-membar img{
    width: 100px;
    border-radius: 5px;
}

.membar-info{
    margin-left: 10px;
}