.fixed-card{
    display: flex;
    align-items: center;
}

.fixed-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}

.card-area{
    background-color: #001a3f;
    color: aliceblue;
}

.btn-color{
    background-color: aliceblue;
    font-size: 18px;
}
.btn-color i{
    font-size: 22px;
}


.social-btn-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-icon{
    font-size: 35px;
}